*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styling the navbar */
nav div .nav-link:hover{
  background-color: #ffa500;
}

nav div .dropdown-item:hover{
  background-color: green;
  color: white;
}

.navcolour{
  background-color: #34ad54;
}
.d1:hover{
  background-color: #34ad54;
}