@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
  height: 100vh;
}

html{
  scroll-behavior: smooth;
}
:root {
  --primary: #34AD54;
  --secondary: #FF9933;
  --light: #F6FFF2;
  --dark: #263A4F;
}


#wrapper{
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7vw;
}

/* styling the navbar */
nav div .nav-link:hover{
  background-color: #ffa500;
}

nav div .dropdown-item:hover{
  background-color: #34AD54;
  color: white;
}

.navcolour{
  background-color: #34ad54;
}

#NavLogo{
  width: 161px;
  height: 58px;
}

.nav-link{
  padding: 30px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .5s;
}

/* carousel styles */

.c-item{
  height: 56vw;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.c-img{
  height: 100%;
  object-fit: cover;
}

.gallery{

  margin-top: 14vh;

}

/* this utility class is for icon */
.Grain{
  
  /* color: rgb(255,153,51); */
  filter: saturate(100%);
  color: linear-gradient(var(--primary), var(--secondary));
  /* width: 42px;
  height: 50px; */
  background-image: linear-gradient(var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

/* headings */
.heading{
  color: var(--primary);
  font-family: 'Roboto', sans-serif;
}

.secHeading{
  margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #001f40;
}

/* Objectives effect */
.service-item:hover {
  color: var(--light);
  background: var(--primary) !important;
}


.service-item:hover h4 {
  transition: .5s;
}

.service-item:hover h4 {
  color: var(--light);
}

/* Founder card icons */
.Bag-secondary {
  background-color: #f93 !important;
}

.Text-secondary {
  color: #f93 !important;
}

/* Areas of work  */

.blog-item img {
  transition: .5s;
}

.blog-item:hover img {
  transform: scale(1.2);
}

.blog-overlay {
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: linear-gradient(rgba(52, 173, 84, 0), rgba(52, 173, 84, 1));
  z-index: 1;
}

.aText{
  color: #34AD54;
  text-decoration: none;
}



/* fixing white space using mq */

@media  (min-width:1024px) {
 
  .gallery{

    margin-top: 0vh;
  
  }


}